shamefully-hoist=true
store-dir=~/.pnpm-store
minimum-release-age=0
verify-store-integrity=false
verify-signatures=false
registry-signatures-verification=false
release-age-verification=false
verify-release-age=false
registry=https://registry.npmjs.org/

