@charset "utf-8";

.content_area{width: 100%;padding-bottom: 116px;}
.contents{width: 1280px; margin: 0 auto;}
.contents > h2{font-family:"SFUIDisplay";font-size: 24px; font-weight: bold; color: #252c52; padding-left: 44px;}
h2.con_tit {height: 104px;line-height: 104px;background-size:28px !important;}
h2.monitoring{background:url(../images/ic-monitoring_2.png) left center no-repeat;}
h2.manager {background:url(../images/ic-user.png) left center no-repeat;}
.rectangle{display: inline-block; vertical-align: middle; margin-left: 10px;}
.rectangle > .tooltip_info{top: 0; left: 30px; width: 200px;}
.contents_info{background-color: #fff; border: 1px solid rgba(42,48,83,0.1);box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.05);border-radius: 8px;}
.contents_info .h3_tit {padding: 0px 64px;border-bottom:1px solid rgba(42, 48, 83, 0.1);position: relative;}
.contents_info .h3_tit h3{font-family:"SFUIDisplay";font-size: 20px; color: #252c52; line-height: 86px}
.contents_info .h3_tit .btn_g {position: absolute;right: 64px;top:23px;}
.contents_body {padding: 24px 64px 64px 64px;}


.list_head{padding-bottom: 26px}
.list_head .title {font-family:"SFUIDisplay";font-weight: bold; color: #333333; font-size: 20px; display: inline-block}
.list_head .title > span{font-size: 16px; font-weight: normal; padding-left: 4px}
.list_head .search_area{display: inline-block}
.list_head .total_num{float: right; color: #666; font-family:"SFUIDisplay";font-size: 14px; line-height: 40px;}
.list_head .total_num > b{color: #2a3053; padding: 0px 5px}
.list_head .btn_area{display: inline-block; float: right}
.list_head .btn_area .btn.fw{float: left; margin-right: 8px}
.list_head .btn_area .day{display: inline-block}
.list_head .btn_area .day ul li{float: left;font-family: -apple-system, -system-ui, "Malgun Gothic","맑은 고딕";}
.list_head .col_right {float: right;}

.ic-search > .btn{font-size: 0px; background:url(../images/ic-search.png) center center no-repeat; width: 40px; height: 40px; border-radius: 4px; padding: 0px; vertical-align: middle; display: inline-block}
.ic-search > .btn:hover{background:url(../images/ic-search_on.png) center center no-repeat #dadce7;}
.ic-search > .btn:active{background:url(../images/ic-search_on.png) center center no-repeat #b5b9d0;}

.btn_ic_only {width: 40px; height: 40px; border-radius: 4px; padding: 0px; vertical-align: middle; display: inline-block;background-size:20px !important;font-size: 0px;}
.btn_ic_only:hover {background-color:#dadce7 !important;}
.btn_ic_only:active {background-color:#b5b9d0 !important;}
.ic-pencil {background:url(../images/ic-pencil.png) center center no-repeat;}
.ic-pencil:hover,
.ic-pencil:active {background:url(../images/ic-pencil_on.png) center center no-repeat;}
.ic-trashcan {background:url(../images/ic-trashcan.png) center center no-repeat;}
.ic-trashcan:hover,
.ic-trashcan:active {background:url(../images/ic-trashcan_on.png) center center no-repeat;}

.bdList tr td .up{}
.bdList tr td .up .icon_up{border-top: 4px solid none;border-bottom: 7px solid #79f564;border-left: 5px solid transparent;border-right: 5px solid transparent; display: inline-block;margin-right: 5px;}
.bdList tr th:last-child::after, .bdList tr td:last-child::after{content: none}
.bdList tr th:last-child, .bdList tr td:last-child{border-right: none}
.bdList tr td .down{margin-left: 15px}
.bdList tr td .down .icon_down{border-top: 7px solid #ff7e66;border-bottom: 7px solid none;border-left: 5px solid transparent;border-right: 5px solid transparent; display: inline-block; margin-right: 5px;}

.bdList tr td .bar_bg{background-color: #f5f6f9; height: 16px; width: 132px; border-radius: 8px; position: relative}
.bdList tr td .bar_bg > em{font-size: 10px; color: #2a3053; position: absolute; left: calc(50% - 10px); font-style:normal}
.bdList tr td .bar_bg .bar{height: 16px; width: 132px; border-radius: 8px; display: inline-block}
.yellow{background-color: #ffbd4c}
.red{background-color: #ff7e66}
.green{background-color: #66df6e}
.blue{background-color: #66c7ff}

.list_bottom{padding-top: 24px; padding-bottom: 56px}
.dataTables_length{width: 120px;}
.dataTables_length_info{width: 100%;}
.pageing{display: inline-block; float: right}
.pageing .btn{width: 73px; height: 40px; line-height: 40px; padding: 0px; text-align: center;font-family:'SFUIDisplay';color:#6a6e86;}
.pageing .btn.num{width: 40px; height: 40px; line-height: 40px; padding: 0px; text-align: center}

.item_area{height: 74px;padding: 16px 0 0 0;background-color: #f5f6f9; border-top: 2px solid #46508b; position: relative}
.item_area .dropdown {width:240px;}
.item_area .dropdown_wrap{display: inline-block;margin-left:24px;}
.item_area .instance a{padding-left: 12px}
.item_area .instance_info{display: none; position: absolute; top: 62px; left: 24px; width: 400px}
.item_area .tp_list {width:400px;}
.item_area .tp_list .info{height:300px;padding: 25px 20px 0px 20px}
.item_area .tp_list .bottom{height: 56px; line-height: 56px; border-top: 1px solid #f5f6f9; padding-right: 16px; text-align: right;}
.item_area .instance_more{display: inline-block; position: relative; margin-left:16px;}
.item_area .instance_more a{padding-left: 12px}
.item_area .instance_more_info{display: none; position: absolute; top: 62px; left: 294px; width: 400px}
.item_area .instance_more_info .info{padding: 25px 20px}
.item_area .instance_more_info .bottom{height: 56px; line-height: 56px; border-top: 1px solid #f5f6f9; padding-right: 16px; text-align: right;}

.chart_area .title{margin-top: 20px; color: #6a6e86; font-size:16px;font-weight: 500; line-height: 40px;font-family:"SFUIDisplay";}

.group_list_wrap {margin-top: 48px;}
.group_list_wrap .btm_btn {padding-top:24px;}
.group_list_wrap .title_wrap {padding:0px 0px 12px 0px;display: flex;    align-items: center;}
.group_list_wrap .title_wrap:after {display: block; content: ''; clear: both;}
.group_list_wrap .title_wrap h2 {width: 50%;padding:0 0 0 0;font-size: 16px;}
.group_list_wrap .title_wrap .right_item {width: 100%;text-align: right;}

.info_txt {text-align: center;}

.ic_info {padding-top:12px;font-size:12px;color:#a9acba;}
.ic_info:before {width:16px;height:16px;background:url(../images/rectangle.png) center center no-repeat;background-size:16px;content:""; display:inline-block;vertical-align: middle;margin:-3px 4px 0 0;}
